[Unit]
Description=REACT effect interface
After=network.target

[Service]
User=root
Group=root
ExecStart=/webs/effect/frontend/run_react.sh

[Install]
WantedBy=multi-user.target

